body {
  padding: 40px;
  background-color: white;
  color: #585858;
}

main {
  padding-top: 1rem;
  padding-bottom: 5rem;
  max-width: 780px;
  margin: auto;
}

footer {
  padding-top: 1.5rem;
  text-align: center;
}

.p-footer {
  padding-top: 0rem;
  margin: 0.5rem;
  max-width: 100%;
  line-height: 1.15;
  font-size: 0.8rem;
}

.bold-footer-text {
  font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-top: 4rem;
  margin: auto;
}

h1 {
  padding-top: 9rem;
  padding-bottom: 13rem;
  margin: auto;
  max-width: 780px;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
  padding-top: 1rem;
}

/* Styling for drawing */
.art {
  display: block;
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: auto;
}

/* Styling for links */
a {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #585858;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-color: #2effc7;
  text-decoration: none;
}

/* Styling for navbar
 - removes underline from text links */
nav {
  position: absolute;
  right: 40px;
  top: 40px;
}
    
.nav-link {
  font-size: 1rem;
  margin-left: 1.5rem;
  text-decoration: none;
}

.nav-link:active {
  text-decoration: underline;
}

/* Styling for logo
 - removes background color from link hover
   for when hovering over logo */
.logo {
  width: height;
  height: 1.2rem;
}
      
.logo-no-hover:hover {
  background-color: transparent;
}
    
/* Styling for selected text */
::selection {
  color: black;
  background: #2affcb;
}