/* Styling for body element */
body {
  background-color: white;
  color: #585858;
  padding: 40px;
}

/* Styling for logo
   - changes size for logo
   - removes background color from link hover
     for when hovering over logo */
.logo {
  width: 2rem;
  height: auto;
}

.no-hover:hover {
  background-color: transparent;
}

/* Styling for navbar
   - removes underline from text links */
nav {
  position: absolute;
  right: 40px;
  top: 40px;
}

.nav-link {
  font-size: 1rem;
  margin-left: 1.5rem;
}

.nav-link:link {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #585858;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:visited {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #585858;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:hover {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: black;
  background-color: #2effc7;
  text-decoration: none;
}

.nav-link:active {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #585858;
  background-color: transparent;
  text-decoration: underline;
}

/* Styling for main element */
main {
  padding-bottom: 5rem;
}

/* Styling for footer */
footer {
  text-align: center;
  padding-top: 1.5rem;
}

.p-footer {
  line-height: 1.15;
  font-size: 0.8rem;
  margin: 0.5rem;
  max-width: 100%;
  padding-top: 0rem;
}

.bold-footer-text {
  font-weight: 800;
}

/* Styling for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-top: 4rem;
  max-width: 780px;
  margin: auto;
}

h1 {
  padding-top: 10rem;
  padding-bottom: 14rem;
  max-width: 780px;
  margin: auto;
}

/* Styling for paragraphs */
p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  max-width: 780px;
  margin: auto;
  padding-top: 1rem;
}

/* Styling for drawing */
.art {
  display: block;
  width: 90%;
  max-width: 500px;
  height: auto;
  margin: auto;
  padding-bottom: 1rem;
}

/* Styling for links */
a:link {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #585858;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #585858;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: black;
  background-color: #2effc7;
  text-decoration: none;
}

a:active {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: rgb(88, 88, 88);
  background-color: transparent;
  text-decoration: underline;
}

/* Styling for selected text */
::selection {
  color: black;
  background: #2affcb;
}


/* Styling for header */
/*
.hero-small {
  min-height: 100vh;
} 
*/
