body {
    background-color: black;
    color: white;    
}

footer {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
}

.bold-footer-text {
    font-weight: 800;
}

a:link {
    color: #FEE762;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: #FEE762;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #FEE762;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: #FEE762;
    background-color: transparent;
    text-decoration: underline;
}

::selection {
    color: black;
    background: #FEE762;
}